<header>
  <div class="background">
    <div class="bannerbar">
    </div>
    <section class="wow fadeIn" data-wow-duration="1.3s">
      <div class="logo">
        <svg></svg>
      </div>
      <div class="navbar" id="nav">
        <div class="desknav">
          <nav>
            <ul class="hr">
              <li>
                <a class="navtext" href="/">HOME</a>
              </li>
              <li>
                <a class="navtext" href="#solutions">SOLUTIONS</a>
              </li>
              <li>
                <a class="navtext" href="#process">WORK PROCESS</a>
              </li>
              <li>
                <a class="navtext" href="#values">VALUES</a>
              </li>
              <li>
                <a class="navtext" href="#leadership">LEADERSHIP</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="navcontactbtn">
          <a class="btn-primary btn-large" href="#contactus">{{ site.data.main.en.header.navbtn }}</a>
        </div>
        <div class="icon">
          <i id="menuicon" class="icon-nav"></i>
        </div>
      </div>
    </section>
    <div class="headerinfo">
      <section class="wow slideInLeft">
        <h1>{{ site.data.main.en.header.h1 }}</h1>
      </section>
      <br>
      <section class="wow slideInLeft" data-wow-duration="1.3s">
        <p>{{ site.data.main.en.header.p }}</p>
      </section><br>
      <section class="wow slideInLeft" data-wow-duration="1.5s">
        <a class="btn btn-outline-primary btn-large" href="#contactus">{{ site.data.main.en.header.btn }}</a>
      </section>
    </div>
    <div id="solutions" class="tables">
      <table>
        <tr>
          <td class="col1"></td>
          <td class="col2"></td>
          <td class="col3"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="coldivs">
    <div class="coldiv1">
      <section class="wow fadeInLeft">
        {{ site.data.main.en.solutions.c1-p1 }}
        <br>
        {{ site.data.main.en.solutions.c1-p2 }}
        <br>
        {{ site.data.main.en.solutions.c1-p3 }}
        <br>
        {{ site.data.main.en.solutions.c1-p4 }}
        <br>
        {{ site.data.main.en.solutions.c1-p5 }}
        <br>
        {{ site.data.main.en.solutions.c1-p6 }}
        <br>
        {{ site.data.main.en.solutions.c1-p7 }}
      </section>
    </div>
    <div class="coldiv2">
      <section class="wow fadeIn">
        {{ site.data.main.en.solutions.c2-p1 }}
        <br>
        {{ site.data.main.en.solutions.c2-p2 }}
        <br>
        {{ site.data.main.en.solutions.c2-p3 }}
        <br>
        {{ site.data.main.en.solutions.c2-p4 }}
        <br>
        {{ site.data.main.en.solutions.c2-p5 }}
        <br>
        {{ site.data.main.en.solutions.c2-p6 }}
        <br>
        {{ site.data.main.en.solutions.c2-p7 }}
        <br>
        {{ site.data.main.en.solutions.c2-p8 }}
      </section>
    </div>
    <div class="coldiv3">
      <section class="wow fadeInRight">
        {{ site.data.main.en.solutions.c3-p1 }}
        <br>
        {{ site.data.main.en.solutions.c3-p2 }}
        <br>
        {{ site.data.main.en.solutions.c3-p3 }}
        <br>
        {{ site.data.main.en.solutions.c3-p4 }}
        <br>
        {{ site.data.main.en.solutions.c3-p5 }}
        <br>
        {{ site.data.main.en.solutions.c3-p6 }}
        <br>
        {{ site.data.main.en.solutions.c3-p7 }}
        <br>
        {{ site.data.main.en.solutions.c3-p8 }}
      </section>
    </div>
  </div>
  <div class="mcoldivs">
    <div class="coldiv1">
      <section class="wow fadeInLeft">
        {{ site.data.main.en.solutions.c1-p1 }}
        <br>
        {{ site.data.main.en.solutions.c1-p2 }}
        <br>
        {{ site.data.main.en.solutions.c1-p3 }}
        <br>
        {{ site.data.main.en.solutions.c1-p4 }}
        <br>
        {{ site.data.main.en.solutions.c1-p5 }}
        <br>
        {{ site.data.main.en.solutions.c1-p6 }}
        <br>
        {{ site.data.main.en.solutions.c1-p7 }}
      </section>
    </div>
    <div class="coldiv2">
      <section class="wow fadeIn">
        {{ site.data.main.en.solutions.c2-p1 }}
        <br>
        {{ site.data.main.en.solutions.c2-p2 }}
        <br>
        {{ site.data.main.en.solutions.c2-p3 }}
        <br>
        {{ site.data.main.en.solutions.c2-p4 }}
        <br>
        {{ site.data.main.en.solutions.c2-p5 }}
        <br>
        {{ site.data.main.en.solutions.c2-p6 }}
        <br>
        {{ site.data.main.en.solutions.c2-p7 }}
        <br>
        {{ site.data.main.en.solutions.c2-p8 }}
      </section>
    </div>
    <div class="coldiv3">
      <section class="wow fadeInRight">
        {{ site.data.main.en.solutions.c3-p1 }}
        <br>
        {{ site.data.main.en.solutions.c3-p2 }}
        <br>
        {{ site.data.main.en.solutions.c3-p3 }}
        <br>
        {{ site.data.main.en.solutions.c3-p4 }}
        <br>
        {{ site.data.main.en.solutions.c3-p5 }}
        <br>
        {{ site.data.main.en.solutions.c3-p6 }}
        <br>
        {{ site.data.main.en.solutions.c3-p7 }}
        <br>
        {{ site.data.main.en.solutions.c3-p8 }}
      </section>
    </div>
  </div>
</header>
